@model BugZapper.Models.Ticket

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Ticket</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Project" class="control-label"></label>
                <select asp-for="ProjectId" class="form-control" asp-items="ViewBag.ProjectId"><option value="">-- Select Project --</option></select>
            </div>
            <div class="form-group">
                <label asp-for="TicketSubject" class="control-label"></label>
                <input asp-for="TicketSubject" class="form-control" />
                <span asp-validation-for="TicketSubject" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TicketOwner" class="control-label"></label>
                <select asp-for="UserId" class="form-control" asp-items="ViewBag.UserId"><option value="">-- Select User --</option></select>
            </div>
            <div class="form-group">
                <label asp-for="CreatedBy" class="control-label"></label>
                <input asp-for="CreatedBy" class="form-control" />
                <span asp-validation-for="CreatedBy" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TicketStatus" class="control-label"></label>
                <select asp-for="TicketStatus" asp-items="@(new SelectList(new List<SelectListItem>
                                                                                    {
                                                                                        new SelectListItem { Text = "Open", Value = "Open"},
                                                                                        new SelectListItem { Text = "In Progress", Value = "In Progress"},
                                                                                        new SelectListItem { Text = "Hold", Value = "Hold"},
                                                                                        new SelectListItem { Text = "Closed", Value = "Closed"},
                                                                                        }, "Text", "Value"))" class="form-control"></select>
            </div>
            <div class="form-group">
                <label asp-for="BugDescription" class="control-label"></label>
                <input asp-for="BugDescription" class="form-control" />
                <span asp-validation-for="BugDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
