@{
    Layout = null;
    ViewData["Title"] = "Home Page";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - BugZapper</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <div class="container justify-content-center">
        <a class="btn-dark text-light" id="qsLoginBtn" asp-controller="Account" asp-action="Login">Login</a>
        <a>Guest</a>
    </div>
    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2020 - BugZapper
        </div>
    </footer>
</body>
</html>