@{
    ViewData["Title"] = "Home Page";
}

<div>
    <div class="container border-bottom pt-3 pb-2">
        <div class="row pl-5">
            <h3>Assigned Projects</h3>
        </div>
    </div>
    <div class="container pt-3">
        <div class="table-responsive">
            
        </div>
    </div>
</div>
