@{
    ViewData["Title"] = "Privacy Policy";
}

<div>
    <div class="container border-bottom-1 pt-3 pb-2">
        <div class="row pl-5">
            <h2>@ViewData["Title"]</h2>
        </div>
    </div>
    <div class="container pt-3">
        <div class="row">
            <p>This is not production software. This Web Application is a project intended to showcase C# and fullstack knowledge and experience for Thomas Thompson.</p>
        </div>
    </div>
</div>      
