@model IEnumerable<BugZapper.Models.Project>

@{
    ViewData["Title"] = "Index";
}

<h3>All Projects</h3>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ProjectTitle)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ProjectTitle)
            </td>
            <td>
                <a class="btn btn-dark" asp-action="Details" asp-route-id="@item.ProjectId">View Tickets</a>
            </td>
        </tr>
}
    </tbody>
</table>
