
@{
    ViewData["Title"] = "_TicketViewTemplate";
}

<div>
    <div class="container border-bottom-1 pt-3 pb-2">
        <div class="row pl-5">
            <h3>@ViewData["Title"]</h3>
        </div>
    </div>
    <div class="container pt-3">
        <!-- TODO: Project -->
        <div class="row border-bottom-1">

        </div>
        <!-- TODO: Owner -->
        <div class="row border-bottom-1">

        </div>
        <!-- TODO: Bug Description -->
        <div class="row border-bottom-1">

        </div>
        <!-- TODO: Creation Time -->
        <div class="row border-bottom-1">

        </div>
        <!-- TODO: Reported By -->
        <div class="row border-bottom-1">

        </div>
    </div>
    <div class="container pt-3">
        <h6>Comments</h6>
        <!-- TODO: Comment section will most likey need to be a form -->
        <div class="row border-bottom-1">
            <!-- TODO: List Comments -->
        </div>
        <div class="form-row">
            <!-- TODO: Form to enter comments -->
        </div>
    </div>
</div>