
@{
    ViewData["Title"] = "MyWork";
}

<div>
    <div class="container border-bottom-1 pt-3 pb-2">
        <div class="row pl-5">
            <h3>My Work</h3>
        </div>
    </div>
    <div class="container pt-3">
        <div class="table-responsive table-hover">

        </div>
    </div>
</div>

